body, * {
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth ;
}
  
#Home {
    height: 100vh;
    width: 100vw;
    background-color: black;
    border-width: 3px;

}

.data{
    width: 70vw;
    margin: auto;
    padding: 100px 0;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6vw;
    line-height: 8vw;
}

.piece {
    font-size: 5vw;
    display: inline-block;

    animation: 2s wiggle 3s linear 3;
}


.subtitle {
    text-align: right;
    font-size: 30px;
    padding-top: 10px;
}

.next{
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    animation: next 3s linear infinite;
}


.next::after{
    content: 'EVENTS';
    font-size: 11px;

    width: 0px;
    opacity: 0;

    left: calc(50% - 22px);
    
    font-weight: bold;
    position: absolute;
    margin: auto;

    transition: 0.5s;
    
}

.next:hover:after{

    opacity: 1;
}

.text {
    padding: 3vh 0px 0px;
    
}

.pieces{
    padding: 5px 0px 10px 0px;
    font-size: 30px;
}

 /****** Animation ******/

 @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-25deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(16deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

@keyframes next {
    0%, 7% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-15px);
    }
    20% {
      transform: translateY(10px);
    }
    25% {
      transform: translateY(-10px);
    }
    30% {
      transform: translateY(6px);
    }
    35% {
      transform: translateY(-4px);
    }
    40%, 100% {
      transform: translateY(0);
    }
}

@keyframes move {
    100%{
        opacity: 1;
        transform: translateY(0);
    }    
}

mark {
 
    animation: 1.5s highlight 1s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

meeting {
  
  padding: 2px;
  font-size: 1vw;
  line-height: 1vw;
  text-align: center;
  font-weight: 900px;
  display: block;
}
@keyframes highlight {
to {
    background-position: 0 0;
    color: black;
}
}

hr{
    border-style: dashed none none none;
    border-width: 3px;
}

/******Events****/

#Events {
  background-color: whtie;
}


.event {
    height: 15vh;

    margin: 25px 0px 0px;
    font-size: 0px;

    border:dashed;
    border-radius: 10px;

    display: flex;
    align-items: stretch;
}

.date, .info{
    height: 100%;
    
 }

.date {
    width: 10%;
    text-align: center;
    overflow: hidden;
    border-right: dashed;
    padding-right: 10px;
}

.info{
    width: 100%;
    overflow-y: hidden;
}


.event-pad {
  padding: 10px;
}

.event-pad-date {
  padding-top: 5vh;
}

.highlight {
  background-color: blue;
  

  border-radius: 10px;;


  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
}


#Contact{
  width: 100vw; 
  background-color: black;
  padding: 100px 0px;
}



.logo, .logo_text{
  width: 40px;
  height: auto;
  display: block;
  padding: 10px 0px;
  transition: all 0.3s ease;
  color: white;
  display: inline-block;
}

.logo_text{
  width:60px;
}

.logo:hover , .logo_text:hover{
  width: 60px;
 
}

.bold{
  font-weight: bold;
}

.inline-block{
  display: inline-block;
}

.contact_right {
  width: 50%;
  height: 100%;
  padding: 30px;
}

.contact_tile{
  font-weight: 900px;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 2vw;
}

.contact_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
}

.contact_container{
  display: flex;
  flex-direction: row;
  
}

.contact_link{
  display: flex;
  align-items: center;
}

.contact_text{
  display: inline-block;
  padding: 0px 20px;
}

.trade {
  padding-top: 20px;
  text-align: right;
  bottom: 0;
  font-size: 5px;
}

.event_detail{
  color: white;
  background-color: black; 
  padding: 2px;
  margin: 2px;
  display: inline-block;
}

@media (max-width: 800px) {
  .data{
    width: 90vw;
    margin: auto;
    padding: 100px 0;
}
}