body, * {
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth ;
}

  
.Home {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.data{
    width: 70vw;
    margin: auto;
    padding: 100px 0;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
}

.piece {
    font-size: 8vw;
    display: inline-block;

    animation: 2s wiggle 3s linear 3;
}


.subtitle {
    text-align: right;
    font-size: 50px;
    padding-top: 10px;
}

.next{
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    animation: next 3s linear infinite;
}


.next::after{
    content: 'EVENTS';
    font-size: 11px;

    width: 0px;
    opacity: 0;

    left: calc(50% - 18px);
    
    font-weight: bold;
    position: absolute;
    margin: auto;

    transition: 0.5s;
    
}

.next:hover:after{

    opacity: 1;
}

.text {
    padding: 100px 0px 0px;
}

.black_pieces{
    color: black;
    background-color: white;
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 5px 0px 10px 0px;
    font-size: 50px;
}

 /****** Animation ******/

 @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-25deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(16deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

@keyframes next {
    0%, 7% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-15px);
    }
    20% {
      transform: translateY(10px);
    }
    25% {
      transform: translateY(-10px);
    }
    30% {
      transform: translateY(6px);
    }
    35% {
      transform: translateY(-4px);
    }
    40%, 100% {
      transform: translateY(0);
    }
}

@keyframes move {
    100%{
        opacity: 1;
        transform: translateY(0);
    }    
}

mark {
 
    animation: 1.5s highlight 1s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}
  
@keyframes highlight {
to {
    background-position: 0 0;
    color: black;
}
}



/******Events****/



.event {
    height: 15vh;

    margin: 25px 0px 0px;
    font-size: 0px;

    border:dashed;
    border-radius: 10px;

    border-top: solid;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;

    display: flex;
    align-items: stretch;
}

.date, .info{
    height: 100%;
    
    
 }

.date {
    width: 10%;
    text-align: center;
    overflow: hidden;
    border-right: dashed;
    padding-right: 10px;
}

.info{
    width: 100%;
    overflow-y: scroll;
}


.event-pad {
  padding: 10px;
}

.event-pad-date {
  padding-top: 5vh;
}

.highlight {
  background-color: blue;
  

  border-radius: 10px;;


  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
}